{% extends "padre.html" %}
{% load static %}

{% block styles %} <link rel="stylesheet" href="{% static 'css/perros.css' %} "> {% endblock %}

{% block title %} Perros {% endblock %}

{% block titulo %}
Agregar Perro
{% endblock %}

{% block contenido %}

    <form action="{% url 'addPerro' %}" method="POST"> {% csrf_token %}
        
        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="Guardar Perro">

    </form>

{% endblock %}

{{ mensaje }}

{% block btnMovimiento %}
    <div>
    <a class="btn" href="../perros"> Atrás </a>
    </div>
    <div>
    <a class="btn" href="{% url 'inicio' %}"> Inicio </a>
    </div>
{% endblock %}