{% extends "padre.html" %}
{% load static %}

{% block styles %} <link rel="stylesheet" href="{% static 'css/perros.css' %} "> {% endblock %}

{% block title %} Perros {% endblock %}

{% block titulo %}
Resultado de la búsqueda de perros.
{% endblock %}

{% block contenido %}
{{ mensaje }}

<form action="{% url 'foundPerro' %}" method="GET">

    <input type="text" name="raza" id="raza" placeholder="Ingresá la raza acá.">

    <input type="submit" value="Buscar raza">

</form>

<h1 class="subTitulo"> Perros encontrados </h1>

{% for perro in perros %}
<h3 class="listas"> {{ perro.nombre }}, {{ perro.raza }} de {{ perro.edad }} años </h3>


{% endfor %}

</form>

{% endblock %}

{% block btnMovimiento %}
<div>
<a class="btn" href="../perros"> Atrás </a>
</div>
<div>
<a class="btn" href="{% url 'inicio' %}"> Inicio </a>
</div>
{% endblock %}